.c-app {
  height: 100vh;
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-rows: auto;
  grid-template-areas: 'menu-panel editor' 'menu-panel editor';
}

.c-app__menu-panel {
  grid-area: menu-panel;
}

.c-app__editor {
  grid-area: editor;
}
