.c-editor__split-pane {
  height: 100vh;
  width: calc(100vw - 75px);
}

.c-editor__top-container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 64px;
  border-color: #8c8c8c;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.c-editor__top-container-tab {
  display: flex;
  overflow: hidden;
}

.c-editor__ace-editor-wrapper {
  flex: 1 1 0;
}

.c-editor__outline {
  height: 100%;
  padding: 10px;
  background: white;
  border-color: #8c8c8c;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-top-right-radius: 4px;
}

.c-editor__graph-editor {
  height: 100%;
  border-color: #8c8c8c;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-bottom-left-radius: 4px;
}

.c-editor__console {
  border-color: #8c8c8c;
  border-style: solid;
  border-width: 1px 0 0 1px;
  border-top-left-radius: 4px;
  height: 100%;
}

.c-editor__outline-container {
  height: 100%;
}

.c-editor__split-pane-horizontal-fst,
.c-editor__split-pane-horizontal-snd {
  height: 100vh;
}
