.c-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__user-info {
    flex: 1;
  }

  &__buttons {
    flex: 0 0 0%
  }

  &__filler {
    flex: 3;
  }

  &__menu-panel {
    position: absolute;
    top: 0;
    left: 75px;
    z-index: 100;
    background: white;
    padding: 30px;
    border-style: solid;
    border-color: #8c8c8c;
    border-width: 0 3px 0 0;
    height: 100%;
  }
}