.c-menu__menu-panel {
    position: absolute;
    top: 0;
    left: 76px;
    z-index: 100;
    background: white;
    padding: 30px;
    border-style: solid;
    border-color: #8c8c8c;
    border-width: 0 3px 0 0;
    height: 100%;
  }