/*
  TODO: start using `rem`
*/

.c-app {
  height: 100vh;
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-rows: auto;
  grid-template-areas: 'menu-panel editor' 'menu-panel editor';
}

.c-app__menu-panel {
  grid-area: menu-panel;
}

.c-app__editor {
  grid-area: editor;
}

.c-editor__split-pane {
  height: 100vh;
  width: calc(100vw - 75px);
}

.c-editor__top-container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.c-editor__top-container-content {
  flex: 1 1 0;
  overflow: hidden;
}

.c-alvis-graph__graph {
  touch-action: none;
  overflow: hidden;
}

.c-alvis-graph__outline {
  touch-action: none;
  overflow: hidden;
}

.c-menu__menu-panel {
  position: absolute;
  top: 0;
  left: 76px;
  z-index: 100;
  background: white;
  padding: 30px;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 0 3px 0 0;
  height: 100%;
}

.c-menu-panel {
}

.c-menu-button {
  display: inline-block; /* ? */
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-width: 1px 0;
  border-style: solid;
  width: 75px;
  height: 50px;
}

.c-menu-button--pressed {
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.c-menu-button:hover,
.c-menu-button:focus,
.c-menu-button--pressed {
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.c-split-pane {
  display: flex;
  flex: 1 1 0%;
}

.c-split-pane--horizontal {
  flex-direction: column;
}

.c-split-pane__first-container {
  flex: 0 0 auto;
}

.c-split-pane__second-container {
  overflow: hidden;
  flex: 1 1 0%;
}

.c-split-pane__dragbar {
  background: #ccc;
}

.c-split-pane__dragbar--vertical {
  width: 5px;
  cursor: ew-resize;
}

.c-split-pane__dragbar--horizontal {
  height: 5px;
  cursor: ns-resize;
}
