.c-tab-nav-button {
  display: block;
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  padding: 10px 15px;

  &--active {
    background-color: #8c8c8c;
  }
}
