.c-tab-nav-button {
  display: flex;
  color: #555;
  background-color: #fff;
  padding: 5px 10px;
  border-width: 4px 1px 1px 1px;
  border-style: solid;
  border-color: transparent;
  user-select: none;
  cursor: pointer;

  &--active {
    color: #333;
    border-color: #ddd;
    border-bottom-color: transparent;
    margin-bottom: -1px;
  }

  &__close-button {
    display: block;
    border: 0;
    background: transparent;
    height: 16px;
    width: 16px;
    padding: 0;
    fill: #ddd;
    margin-left: 10px;

    &:hover {
      fill: #555;
    }
  }

  &__close-button-icon {
    height: 16px;
    width: 16px;
  }
}
