.c-alvis-graph-panel {
    height: 100%;
    display: flex;
    flex-direction: column;

  &__toolbars-panel {
    padding: 16px;
    flex: 0 0 100px; // TODO: check if needed
  }

  &__tabs {
    flex: 1 1 0%;
  }
}
